<a href="https://colab.research.google.com/github/faddednatasha/Sky-Analytics/blob/main/Data_cleaning_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from datetime import datetime, timedelta

In [7]:
def load_and_describe(file_name):
    try:
        """Load The Data Set For Better Understanding"""
        data=pd.read_csv(file_name)
        print(f" Data Set {file_name} is Loaded Successfully\n")
        print(f"Dataset Head:\n")
        display(data.head())
        print(f"\n Basic Information\n")
        display(data.info())
        print(f"\n Data Statistics\n")
        display(data.describe())
        print("\n Skewness\n")  #
        print(data.skew(numeric_only=True))
        print(f"\n Kurtosis \n")
        display(data.kurtosis(numeric_only=True))
        return data
    except FileNotFoundError:
        print(f"Error: The file '{file_name}' was not found.")
        return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [8]:
data=load_and_describe("Indian Airlines.csv")

 Data Set Indian Airlines.csv is Loaded Successfully

Dataset Head:

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

 Basic Information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

None

 Data Statistics

          Unnamed: 0       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000

 Skewness

Unnamed: 0    0.000000
duration      0.602899
days_left    -0.035464
price         1.061377
dtype: float64

 Kurtosis

Unnamed: 0   -1.200000
duration     -0.268996
days_left    -1.156215
price        -0.396293
dtype: float64

In [9]:
today = datetime(2025, 6, 7)

# Step 1: Departure date
data['departure_date'] = data['days_left'].apply(lambda x: today + timedelta(days=int(x)))
data['day'] = data['departure_date'].dt.day
data['month'] = data['departure_date'].dt.month

# Step 2: Map departure_time and arrival_time to numeric hour values
time_mapping = {
    'Early_Morning': 5,
    'Morning': 9,
    'Afternoon': 13,
    'Evening': 18,
    'Night': 22,
    'Late_Night': 2
}

data['departure_time_numeric'] = data['departure_time'].map(time_mapping)
data['arrival_time_numeric'] = data['arrival_time'].map(time_mapping)

# Step 3: Ensure duration is numeric
# If it's already a float like 2.17, this will just ensure it's numeric
data['duration_numeric'] = pd.to_numeric(data['duration'], errors='coerce')

# Check the result
data.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,departure_date,day,month,departure_time_numeric,arrival_time_numeric,duration_numeric
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,2025-06-08,8,6,18,22,2.17
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,2025-06-08,8,6,5,9,2.33
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,2025-06-08,8,6,5,5,2.17
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,2025-06-08,8,6,9,13,2.25
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,2025-06-08,8,6,9,9,2.33

In [10]:
# Droping the Useless Column
data = data.drop(columns=['Unnamed: 0'])

In [11]:
data

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,departure_date,day,month,departure_time_numeric,arrival_time_numeric,duration_numeric
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,2025-06-08,8,6,18,22,2.17
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,2025-06-08,8,6,5,9,2.33
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,2025-06-08,8,6,5,5,2.17
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,2025-06-08,8,6,9,13,2.25
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,2025-06-08,8,6,9,9,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265,2025-07-26,26,7,9,18,10.08
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105,2025-07-26,26,7,13,22,10.42
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099,2025-07-26,26,7,5,22,13.83
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585,2025-07-26,26,7,5,18,10.00
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585,2025-07-26,26,7,9,18,10.08

In [12]:
# Counting The Duplicate Data
data.duplicated().sum()

np.int64(0)

In [13]:
data.to_csv("cleaned_flight_data.csv", index=False)